<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","className":"fs-main","layout":{"type":"constrained","contentSize":"480px"}} -->
<main class="wp-block-group fs-main">
	<!-- wp:heading {"level":1,"textAlign":"center","fontSize":"xxxl"} -->
	<h1 class="wp-block-heading has-text-align-center has-xxxl-font-size">404</h1>
	<!-- /wp:heading -->

	<!-- wp:paragraph {"align":"center","textColor":"text-secondary"} -->
	<p class="has-text-align-center has-text-secondary-color has-text-color">Страница не найдена.</p>
	<!-- /wp:paragraph -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
