<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group">
	<!-- wp:pattern {"slug":"fs-lms-theme/hero"} /-->

	<!-- wp:pattern {"slug":"fs-lms-theme/alumni-carousel"} /-->

	<!-- wp:pattern {"slug":"fs-lms-theme/alumni-strip"} /-->

	<!-- wp:pattern {"slug":"fs-lms-theme/features-grid"} /-->

	<!-- wp:pattern {"slug":"fs-lms-theme/courses-grid"} /-->

	<!-- wp:pattern {"slug":"fs-lms-theme/intensive-split"} /-->

	<!-- wp:pattern {"slug":"fs-lms-theme/contact-section"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
